[Desktop Entry]
Name=Stacer
Exec=stacer
Comment=Linux System Optimizer and Monitoring
Icon=stacer
Type=Application
Terminal=false
Categories=Utility;
