@charset "UTF-8";

@font-face {
  font-family: "stacer-fonts";
  src:url("../font/stacer-fonts.eot");
  src:url("../font/stacer-fonts.eot?#iefix") format("embedded-opentype"),
    url("../font/stacer-fonts.woff") format("woff"),
    url("../font/stacer-fonts.ttf") format("truetype"),
    url("../font/stacer-fonts.svg#stacer-fonts") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "stacer-fonts" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "stacer-fonts" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-service:before {
  content: "\69";
}
.icon-startup:before {
  content: "\67";
}
.icon-dash:before {
  content: "\64";
}
.icon-stats:before {
  content: "\6a";
}
.icon-terminal:before {
  content: "\6c";
}
.icon-cleaner:before {
  content: "\6e";
}
.icon-uninstaller:before {
  content: "\6b";
}
.icon-collapse:before {
  content: "\62";
}
.icon-expand:before {
  content: "\63";
}
.icon-settings:before {
  content: "\61";
}