body * {
  outline: 0;
  font-family: 'Ubuntu', sans-serif;
}

@font-face {
  font-family: 'Ubuntu', sans-serif;
  src: url(../font/Ubuntu-Regular.ttf) format("truetype");
}

body {
  overflow: hidden;
  float: left;
  padding: 10px 0 0 0;
  font-weight: 400;
  -webkit-user-select: none;
}

button {
  cursor: pointer;
}

[v-cloak] {
  display: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.w100 {
  width: 100%;
}

.content {
  float: left;
  width: 100%;
  height: 999px;
}


/*-------------Colors---------------*/

body {
  background-color: #202b33;
}


/*---------DASHBOARD---------*/


/*Trail Color*/

svg path:first-child {
  stroke: #202b33;
}

.cont,
.line-cont {
  background-color: #293945;
  color: #eee;
}

.cont h3,
.line-cont h3,
.system-info h3 {
  color: #eee;
}

.system-info ul li {
  color: #748390;
}


/*---------DASHBOARD---------*/


/*---------ITEM LIST---------*/

.switch+label,
.switch:not(:checked)+label:hover:active {
  background-color: #EF4836;
}

.switch+label::after {
  background-color: #fff;
}

.switch:checked+label {
  box-shadow: inset 0 0 0 13px #4BD865;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #3d474e;
}

.item-list ul li {
  background-color: #293945;
}

.item-list ul li:hover {
  background-color: #3d474e;
}

.item-list h3,
.item-list ul li {
  color: #aeb5bf;
}

.item-list input[type=text] {
  background-color: #202b33;
  border: 1px solid #3d474e;
  color: #aeb5bf;
}


/*---------ITEM LIST---------*/


/*---------ITEM TABLE---------*/

.item-table {
  border: 1px solid #3d474e;
}

.item-table ul li {
  border-bottom: 1px solid #3d474e;
}

.item-table ul li:hover {
  background-color: #293945;
}

.cleaner-side i,
.item-table i {
  background-color: #748390;
}

.item-table input[type=checkbox]:checked+i::after,
.cleaner-side input[type=checkbox]:checked+i::after {
  background-color: #293945;
}

.item-table span {
  color: #aeb5bf;
}

.item-table h3 {
  background-color: #293945;
  color: #aeb5bf;
}

.cleaner-side ul li label {
  color: #aeb5bf;
}

.cleaner-side ul li {
  border: 1px solid #3d474e;
}

.cleaner-side ul li label:hover {
  background-color: #293945;
  color: #2285c3;
}

#clean-btn,
#system-scan-btn {
  color: #eee;
  border: 1px solid #293945;
}

#clean-btn:hover,
#system-scan-btn:hover {
  background-color: #293945;
}


/*---------ITEM TABLE---------*/


/*------------------------------------------------------------------*/


/*---------DASHBOARD---------*/

.cont,
.line-cont {
  width: 200px;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  margin: 15px;
  padding: 10px 30px 20px 30px;
  font-weight: 500;
}

.cont h3,
.line-cont h3,
.system-info h3 {
  display: block;
  letter-spacing: 1px;
  padding: 0;
  margin: 0px 0px 12px 0px;
  font-size: 16px;
  font-weight: 500;
}

.line-cont span {
  display: block;
  text-align: right;
}

.line-cont h3 {
  text-align: left;
}

.line-cont {
  float: right;
  width: 350px;
  padding: 20px 30px;
}

.system-info {
  width: 330px;
  float: left;
  display: block;
  font-size: 16px;
  margin: 20px;
  padding: 10px 25px 15px 25px;
  font-weight: 500;
}

.system-info ul {
  padding: 0;
  list-style: none;
  font-weight: normal;
  line-height: 30px;
}

.line-cont div {
  margin: 0px 0px 15px 0px;
}

.circle-bar {
  background-repeat: no-repeat;
  background-position: center 65px;
}


/*---------DASHBOARD---------*/


/*--------SWITCH-----------*/

.switch {
  display: none;
}

.switch+label,
.switch+label::after {
  display: inline-block;
  position: relative;
  width: 44px;
  height: 22px;
  border-radius: 9999px;
  transition: 300ms;
  cursor: pointer;
}

.switch+label::after {
  content: "";
  position: absolute;
  left: 3px;
  width: 17px;
  height: 17px;
  margin-top: 2px;
  box-shadow: 0 5px 5px -1px rgba(0, 0, 0, 0.2), 0 0 0 2px #EF4836;
}

.switch:checked+label::after {
  left: 22px;
  box-shadow: 0 5px 5px -1px rgba(0, 0, 0, 0.2), 0 0 0 2px #4BD865;
}

.switch+label:hover:active::after {
  width: 23px;
}

.switch:checked+label:hover:active::after {
  left: 17px;
}


/*--------SWITCH-----------*/


/*----------SCROLL--------*/

.scroll {
  overflow-y: auto;
  overflow-x: hidden;
}

.scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.scroll::-webkit-scrollbar {
  width: 10px;
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
}


/*----------SCROLL--------*/


/*---------ITEM LIST---------*/

.item-list {
  width: 700px;
  height: 530px;
  margin: 15px auto 20px auto;
}

.item-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  height: calc(100% - 40px);
  width: 100%;
}

.item-list ul li {
  position: relative;
  float: left;
  display: block;
  cursor: pointer;
  font-size: 15px;
  margin: 6px 3px;
  width: calc(100% - 68px);
  border-radius: 4px;
  padding: 10px 15px 10px 50px;
}

.item-list h3 {
  margin: 0px;
  display: block;
  height: 20px;
  padding: 10px 0px 10px 15px;
  font-size: 15px;
  font-weight: 400;
}

.item-list ul li span {
  display: block;
  float: left;
  width: calc(100% - 80px);
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 2px;
}

.item-list input[type=text] {
  border-radius: 50px;
  font-size: 13px;
  float: right;
  padding: 5px 10px;
  margin: 6px 10px 6px 0px;
}


/*---------ITEM LIST---------*/


/*---------STARTUP APPS---------*/

.startup-apps-list {
  width: 600px;
  height: 470px;
}

.startup-apps-list ul li {
  background-image: url(../img/app.png);
  background-repeat: no-repeat;
  background-position: 13px 9px;
}

.startup-apps-list ul li:hover .remove-startup-app {
  display: block;
}

.remove-startup-app {
  width: 24px;
  height: 24px;
  margin: -2px 10px 0px 0px;
  background: transparent url(../img/trash.png) no-repeat;
  display: none;
  float: right;
  border: 0;
}

.add-startup-app {
  background-color: #2196f3;
  border: 0;
  padding: 8px 15px;
  color: #eee;
  float: right;
  margin: 10px 140px 0px 0px;
  border-radius: 4px;
}

.add-startup-app:hover {
  background-color: #2285c3;
}


/*---------STARTUP APPS---------*/


/*---------SYSTEM SERVICES---------*/

.services-list ul {
  float: left;
}

.services-list ul li {
  background-image: url(../img/service.png);
  background-repeat: no-repeat;
  background-position: 13px 11px;
}


/*---------SYSTEM SERVICES---------*/


/*---------UNINSTALLER---------*/

.uninstaller-list ul {
  float: left;
}

.uninstaller-list ul li {
  background-image: url(../img/package.png);
  background-repeat: no-repeat;
  background-position: 13px 9px;
}

.uninstaller-list ul li a {
  width: 24px;
  height: 24px;
  float: right;
  margin-top: -2px;
  background-image: url(../img/trash.png);
}

.uninstaller-list ul li a.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  background-image: none;
  border-top: 4px solid #3498db;
  width: 16px;
  height: 16px;
  -webkit-animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/*---------UNINSTALLER---------*/


/*---------ITEM TABLE---------*/

.item-table {
  float: right;
  margin: 10px 10px 0px 0px;
  width: 650px;
  height: 500px;
}

.item-table ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.item-table ul li {
  width: 100%;
  display: block;
  float: left;
  padding: 2px 0px;
  margin: 0;
}

input[type=checkbox] {
  display: none;
}

.cleaner-side i,
.item-table i {
  border-radius: 50%;
  display: block;
  height: 12px;
  position: absolute;
  top: 9px;
  width: 12px;
  z-index: 1;
}

.cleaner-side input[type=checkbox]:checked+i::after,
.item-table input[type=checkbox]:checked+i::after {
  border-radius: 50%;
  content: '';
  display: block;
  height: 6px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 6px;
  z-index: 2;
}

.item-table span {
  display: block;
  float: left;
  width: 550px;
  overflow: hidden;
  margin-left: 25px;
  text-overflow: ellipsis;
  font-size: 13px;
}

.item-table label {
  cursor: pointer;
  display: block;
  float: left;
  line-height: 30px;
  padding: 0 15px;
  position: relative;
}

.item-table h3 {
  display: block;
  float: left;
  margin: 0;
  font-weight: 500;
  width: 100%;
}

.item-table h3 span {
  font-size: 14px;
}


/*---------ITEM TABLE---------*/


/*---------CLEANER SIDEBAR---------*/

.cleaner-side {
  margin: 10px 0 0 10px;
  width: 180px;
  float: left;
  position: relative;
}

.cleaner-side ul {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cleaner-side ul li {
  padding: 0;
  margin: 0 0 6px 0;
}

.cleaner-side ul li label {
  display: block;
  padding: 10px 0px 10px 10px;
  width: 175px;
  font-size: 15px;
  cursor: pointer;
  position: relative;
}

.cleaner-side i {
  margin: 4px 0 0 0;
}

.cleaner-side span {
  margin-left: 25px;
}


/*---------CLEANER SIDEBAR---------*/


/*---------STATISTICS---------*/

.resources {
  padding: 0px 20px;
}

.resources h4 {
  display: block;
  width: 100%;
  padding: 10px;
  color: #aeb5bf;
  font-weight: 400;
  margin: 0;
}

#cpus-chart {
  background-color: #293945;
  height: 200px;
  width: calc(100% - 20px);
  padding: 10px;
  border-radius: 4px;
}

/*---------STATISTICS---------*/

.empty-list {
  font-size: 22px;
  text-align: center;
  padding: 180px 0px;
  width: 100%;
  float: left;
  margin: 30px auto;
  color: #748390;
  display: block;
  background: url(../img/not-found.png) no-repeat center 30px;
}

#clean-btn,
#system-scan-btn {
  clear: right;
  float: right;
  margin: 10px 10px 0 0;
  border-radius: 5px;
  padding: 8px 20px;
  cursor: pointer;
  position: relative;
  background-color: transparent;
}

#system-scan-btn {
  float: left;
}

#nav {
  float: left;
  width: 770px;
  padding: 0 50px;
  margin: 0 0 15px 0;
  text-align: center;
}

#nav li {
  color: #eee;
  padding: 0px 10px;
  display: inline-block;
}

#nav li label:after {
  transition: width .5s ease, background-color .5s ease
}

#nav li label {
  cursor: pointer;
  display: block;
  font-size: 16px;
  transition: 0.9s ease;
  padding: 6px;
}

#nav li label:hover {
  cursor: pointer;
  color: white;
}

.nav-active,
#nav li label:hover {
  color: #47b1f3;
  border-bottom: 1px solid #47b1f3;
}

.slide-fade-enter-active {
  transition: all .2s ease;
}

.slide-fade-leave-active {
  transition: all .2s ease;
}

.slide-fade-enter,
.slide-fade-leave-to {
  opacity: 0;
}

.update-check {
  background-color: #16a085;
  text-align: left;
  margin-top: -40px;
  padding: 7px 0;
}

.update-check span {
  float: left;
  display: block;
  color: #202b33;
  padding: 3px 20px;
  margin: 0;
}

.update-check button {
  color: #fff;
  border: 0;
  cursor: pointer;
  font-size: 15px;
  float: right;
  display: block;
  background-color: #202b33;
  border-radius: 4px;
  padding: 6px 15px;
  margin-right: 8px;
}

.update-check button:hover {
  background-color: #293945;
}


/*prompt style*/

.promptDialog {
  position: fixed;
  background-color: rgba(0, 0, 0, .4);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.promptDialog .dialog {
  width: 350px;
  margin: 0 auto;
  position: relative;
  top: 40%;
  transform: translateY(-50%);
  box-shadow: 0px 0px 20px #10161b;
}

.promptDialog .dialog div:first-child {
  border-radius: 4px;
  background-color: #202b33;
  padding: 10px;
  text-align: center;
}

.dialog span {
  color: #ddd;
  display: block;
  padding: 5px 10px;
}

.dialog input,
.dialog select {
  color: #ddd;
  border-radius: 4px;
  padding: 9px 15px;
  width: 280px;
  font-size: 15px;
  border: 0;
  background-color: #293945;
  margin: 8px 0px;
}

.dialog button {
  padding: 7px 15px;
  border: 0;
  color: #ddd;
  border: 1px solid #293945;
  cursor: pointer;
  font-size: 15px;
  margin: 5px 10px;
  background-color: transparent;
  border-radius: 4px;
}

.dialog button:hover {
  background-color: #293945;
}