Package: stacer
Version: 1.0.8
Maintainer: oguzhaninan <oguzhan3488@gmail.com>
Section: system
Homepage: https://github.com/oguzhaninan/Stacer
Architecture: amd64
Priority: optional
Recommends: curl, systemd
Description: Linux System Optimizer and Monitoring
 Linux System Optimizer and Monitoring

