Source: stacer
Section: utils
Priority: optional
Maintainer: Oguzhan INAN <oguzhan3488@gmail.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://github.com/oguzhaninan/Stacer
Vcs-Browser: https://github.com/oguzhaninan/Stacer.git

Package: stacer
Architecture: all
Depends: ${misc:Depends}
Recommends: systemd, curl
Description: Linux System Optimizer and Monitoring
